@import '../../App.css';

.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(--global-cream);
  button {
    border: none;
    background-color: var(--red-700);
    color: var(--global-cream);
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
  }

  button:hover {
    background-color: var(--global-red);
    color: var(--red-800);
  }
  .main-section {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
    padding: 3rem calc((100vw - 1300px) / 2);

    .main-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      justify-content: center;
      h2 {
        font-size: 2.5rem;
        color: var(--red-700);
        margin: 0;
        font-weight: 900;
      }
      p {
        color: var(--global-red);
        font-size: 1.6rem;
        margin: 0.5rem 0;
        font-weight: 600;
      }
      button {
        padding: 1rem 3rem;
        font-size: 1.2rem;
      }
    }

    .main-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .home-image {
      width: 90%;
      height: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .main-section {
      grid-template-columns: 1fr;
      .home-image {
        width: 70%;
        height: 70%;
      }
    }
  }
}