:root {
  margin: 0;
  padding: 0rem 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  --global-red: #f0475e;
  --red-300: #f47c8c;
  --red-700: #b80f25;
  --red-800: #4f0610;
  --red-200: #f9d3d8;
  --red-100: #f9e3e4;
  --global-cream: #feffff;
  --global-green: #00BF71;
  --global-danger: #FF6584;
  --global-grey: #EDEBEB;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  margin: 0;
}

.card {
  padding: 2em;
}

a {
  text-decoration: none;
}

.read-the-docs {
  color: #888;
}

input, textarea, select {
  font-family: 'Inter', sans-serif;
}
